In [7]:
# simple Method of Inheritance

class student1:
    def __init__(self,hindi,eng):
        self.hindi=hindi
        self.eng=eng

class student2(student1):
    def __init__(self,hindi,eng):
        student1.__init__(self,hindi,eng) # for inheritance
    def average(self):
        a=(self.hindi+self.eng)/2     # self is used to get access from class because we write logic here  
        return a
s=student2(24,25)
s.average()

24.5

In [8]:
# Single Inheritance

class student1:
    def __init__(self,hindi,eng):
        self.hindi=hindi
        self.eng=eng

class student2(student1):
    def __init__(self,hindi,eng):
        super().__init__(hindi,eng) # for inheritance
    def average(self):
        a=(self.hindi+self.eng)/2       
        return a
s=student2(240,250)
s.average()

245.0

In [ ]:
# Multilevel Inheritance----------->grandparent to parent
class gpc:
    def __init__(self,name):
        self.name= name
class pc(gpc):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age
class cc(pc):
    def __init__(self,sal):
        super().__init__(age)
        self.sal=sal

p= pc('asdfg',23)
p.name

In [ ]:
# Multilevel Inheritance----------->parent to child
class gpc:
    def __init__(self,name):
        self.name= name
class pc:
    def __init__(self,age):
        self.age=age
class cc(pc):
    def __init__(self,age,sal):
        super().__init__(age)
        self.sal=sal

p= cc(23,23000)
p.sal

In [ ]:
# grandparent to child

class gpc:
    def __init__(self,name):
        self.name= name
class pc:
    def __init__(self,age):
        self.age=age
class cc(gpc):
    def __init__(self,name,sal):
        super().__init__(name)
        self.sal=sal

p= cc('asdf',23000)
p.sal
p.name

In [ ]:
#gpc--->pc---->cc
class gpc:
    def __init__(self,name):
        self.name= name

class pc(gpc):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age

        
class cc(pc):
    def __init__(self,name,age,sal):
        super().__init__(name,age)
        self.sal=sal

p= cc("asdf",23,23000)
p.name

In [28]:
p.age

23

In [24]:
p.sal

23000

In [30]:
# WAP to perform Multilevel inheritance and try to get the attributes of each class.


class cls1:
    def __init__(self,subject1):
        self.subject1=subject1
        
class cls2(cls1):
    def __init__(self,subject1,subject2):
        super().__init__(subject1)
        self.subject2=subject2
        
class cls3(cls2):
    def __init__(self,subject1,subject2,subject3):
        super().__init__(subject1,subject2)
        self.subject3=subject3

c= cls3('Math','English','Computer Science')
c.subject3

'Computer Science'

In [31]:
c.subject2

'English'

In [32]:
c.subject1

'Math'

In [33]:
# WAP to make 3 class in which one of the class is totally empty
class cls1:
    pass

class cls2(cls1):
    def __init__(self,name):
        super().__init__()
        self.name=name
        
class cls3(cls2):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age
d=cls3("abs",23)
d.name

'abs'

In [34]:
d.age

23

In [2]:
class one:
    def __init__(self,id):
        self.id=id
class two(one):
    def __init__(self,id,name):
        super().__init__(id)
        self.name=name
        
s=two(2,"Rahul")
s.id

2

In [3]:
s.name

'Rahul'