In [ ]:
#WAP to print number from 1-50 with alternate number
for i in range (1,51,2):
    print(i)

In [5]:
# WAP to print number from -1 to 10
for i in range (-1,11):
    print(i)

-1
0
1
2
3
4
5
6
7
8
9
10

In [7]:
# WAP to print from -1 to -10
for i in range(-1,-11,-1):
    print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [10]:
#WAP to print from 1 to -10
for i in range (1,-11,-1):
    print(i)

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [13]:
# WAP to print even from 1-50
count =0
for i in range(51):
    if i%2==0:
        print(i)
        count= count+1
print("count------>",count)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
count------> 26

In [14]:
count =0
for i in range(20,81):
    if i%2!=0:
        print(i)
        count= count+1
print("count------>",count)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
count------> 30

In [18]:
x="hello"
y=''
for i in  x:
    print(i)
    y=i+y
print(y)
if x !=y:
    print("reversed")
else:
    print("not reversed")

h
e
l
l
o
olleh
reversed

In [19]:
x="hello"
y=''
for i in  x:
    print(i)
    y=i+y
print(y)
if x ==y:
    print("Palindrome")
else:
    print("not Palindrome")

h
e
l
l
o
olleh
not Palindrome

In [2]:
exp=int(input("Enter your experience: "))
sal=int(input("Enter your salary"))
if exp>5:
    bonus=((sal*5)/100)
    t_sal=sal+bonus
    print("Total Salary:", t_sal)
    print("Bonus",bonus)
else:
    print("No Bonus")

Enter your experience: 4
Enter your salary5000
No Bonus

In [5]:
length=5
breadth=4
area=6
area_of_sq=area**2
area_of_rect=length*breadth

if area_of_sq==area_of_rect:
    print("It is square")
else:
    print("No Square")

No Square

In [9]:
x=int(input("Enter first number"))
y=int(input("Enter second number"))
z=int(input("Enter third number"))
if x>y and x>z:
    print("Greatest number is x")
elif y>x and y>z:
    print("Greatest number is y")
elif z>x and z>y:
    print("greatest number is z")
else:
    print("Invalid output")

Enter first number56
Enter second number78
Enter third number45
Greatest number is y

In [12]:
unit_price=100
item=int(input("Enter quantity of items purchased: "))
price= unit_price*item
if price>=1000:
    dis=(price*10)/100
    payment=price-dis
    print("Discount: ",dis)
    print("Total price of item: ", payment)
else:
    print("No discount")

Enter quantity of items purchased: 11
Discount:  110.0
Total price of item:  990.0